{{- if .IsNode -}}
  {{- /* 2026-09-04: taxonomy term 页（/tags/<name>/、/categories/<name>/）无 .Date，
         会渲染 0001-01-01。这里只在 IsPage 时输出 date 块 */ -}}
  {{- /* 节点页（term 列表页）静默跳过 */ -}}
{{- else -}}
<div class="article-date">
  <span
    class="article-date-link icon-calendar"
    data-aos="{{ .Site.Params.animation.options.article.date }}"
  >
    {{- $dateText := .Date.Format .Site.Params.dateFormat -}}
    {{- if .Params.display_date -}}
      {{- $dateText = .Params.display_date -}}
    {{- end -}}
    <time datetime="{{ .Date }}" itemprop="datePublished"
      >{{ $dateText }}</time
    >
    <time style="display: none;" id="post-update-time"
      >{{ .Lastmod.Format .Site.Params.dateFormat }}</time
    >
  </span>
  {{- if .Site.Params.show_update_time -}}
    <span
      class="article-date-link icon-calendar-plus"
      data-aos="{{ .Site.Params.animation.options.article.date }}"
    >
      <time datetime="{{ .Lastmod }}" itemprop="dateModified"
        >{{ .Lastmod.Format .Site.Params.dateFormat }}</time
      >
    </span>
  {{- end -}}
</div>
{{- end -}}
